$colors: (
    "red": #fc2020,
    "white": #fff,
);

$buttons: (
    // name         color                          font-color
    danger:         map-get($colors, "red")        map-get($colors, "white")
);